<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>running.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authenticate</servlet-name>
        <servlet-class>running.authenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Testing</servlet-name>
        <servlet-class>running.Testing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>running.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>running.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Interview</servlet-name>
        <servlet-class>running.Interview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoard</servlet-name>
        <servlet-class>running.DashBoard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>running.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Compute</servlet-name>
        <servlet-class>running.Compute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>running.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProfile</servlet-name>
        <servlet-class>running.MyProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalQuetions</servlet-name>
        <servlet-class>running.FinalQuetions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalQuestions</servlet-name>
        <servlet-class>running.FinalQuestions</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authenticate</servlet-name>
        <url-pattern>/authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Testing</servlet-name>
        <url-pattern>/Testing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Interview</servlet-name>
        <url-pattern>/Interview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoard</servlet-name>
        <url-pattern>/DashBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Compute</servlet-name>
        <url-pattern>/Compute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfile</servlet-name>
        <url-pattern>/MyProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalQuetions</servlet-name>
        <url-pattern>/FinalQuetions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalQuestions</servlet-name>
        <url-pattern>/FinalQuestions</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
